server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/git4ang/eBanque_Microservices_configRepos
          basedir: target/configRepos
          clone-on-start: true
          default-label: main
          username: config
          password: 1234
  profiles:
    active: dev, default

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: "/admin"
  endpoint:
    health:
      show-details: always
    env:
      post:
        enabled: true

# ELK's log - logstash via Elasticsearch & kibana
logging:
  level:
    org.springframework.cloud: debug
#  file:
#    name: "/home/ang/myApps/docker4ang/docker-compose/logstash/logs/elk-eBanque-microservices.log"
